<?php
/**
 * ActivitycapacitystatisticApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Client Api
 *
 * Bumbal API documentation
 *
 * OpenAPI spec version: 2.0
 * Contact: support@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalClient\API;

use \BumbalClient\ApiClient;
use \BumbalClient\ApiException;
use \BumbalClient\Configuration;
use \BumbalClient\ObjectSerializer;

/**
 * ActivitycapacitystatisticApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ActivitycapacitystatisticApi
{
    /**
     * API Client
     *
     * @var \BumbalClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(?\BumbalClient\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalClient\ApiClient $apiClient set the API client
     *
     * @return ActivitycapacitystatisticApi
     */
    public function setApiClient(\BumbalClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation retrieveActivityCapacityStatistic
     *
     * Find ActivityCapacityStatistic by ID
     *
     * @param int $activity_capacity_statistic_id ID of ActivityCapacityStatistic to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ActivityCapacityStatistic
     */
    public function retrieveActivityCapacityStatistic($activity_capacity_statistic_id)
    {
        list($response) = $this->retrieveActivityCapacityStatisticWithHttpInfo($activity_capacity_statistic_id);
        return $response;
    }

    /**
     * Operation retrieveActivityCapacityStatisticWithHttpInfo
     *
     * Find ActivityCapacityStatistic by ID
     *
     * @param int $activity_capacity_statistic_id ID of ActivityCapacityStatistic to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ActivityCapacityStatistic, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveActivityCapacityStatisticWithHttpInfo($activity_capacity_statistic_id)
    {
        // verify the required parameter 'activity_capacity_statistic_id' is set
        if ($activity_capacity_statistic_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $activity_capacity_statistic_id when calling retrieveActivityCapacityStatistic');
        }
        // parse inputs
        $resourcePath = "/activity-capacity-statistic/{activityCapacityStatisticId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($activity_capacity_statistic_id !== null) {
            $resourcePath = str_replace(
                "{" . "activityCapacityStatisticId" . "}",
                $this->apiClient->getSerializer()->toPathValue($activity_capacity_statistic_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ActivityCapacityStatistic',
                '/activity-capacity-statistic/{activityCapacityStatisticId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ActivityCapacityStatistic', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ActivityCapacityStatistic', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListActivityCapacityStatistic
     *
     * Retrieve List of ActivityCapacityStatistics
     *
     * @param \BumbalClient\Model\ActivityCapacityStatisticRetrieveListArguments $arguments ActivityCapacityStatistic RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ActivityCapacityStatisticListResponse
     */
    public function retrieveListActivityCapacityStatistic($arguments)
    {
        list($response) = $this->retrieveListActivityCapacityStatisticWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListActivityCapacityStatisticWithHttpInfo
     *
     * Retrieve List of ActivityCapacityStatistics
     *
     * @param \BumbalClient\Model\ActivityCapacityStatisticRetrieveListArguments $arguments ActivityCapacityStatistic RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ActivityCapacityStatisticListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListActivityCapacityStatisticWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListActivityCapacityStatistic');
        }
        // parse inputs
        $resourcePath = "/activity-capacity-statistic";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ActivityCapacityStatisticListResponse',
                '/activity-capacity-statistic'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ActivityCapacityStatisticListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ActivityCapacityStatisticListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
