<?php
/**
 * IrregularityreasonApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Client Api
 *
 * Bumbal API documentation
 *
 * OpenAPI spec version: 2.0
 * Contact: support@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalClient\API;

use \BumbalClient\ApiClient;
use \BumbalClient\ApiException;
use \BumbalClient\Configuration;
use \BumbalClient\ObjectSerializer;

/**
 * IrregularityreasonApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class IrregularityreasonApi
{
    /**
     * API Client
     *
     * @var \BumbalClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(?\BumbalClient\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalClient\ApiClient $apiClient set the API client
     *
     * @return IrregularityreasonApi
     */
    public function setApiClient(\BumbalClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createIrregularityReason
     *
     * Create a irregularity reason
     *
     * @param \BumbalClient\Model\IrregularityReasonModel $body IrregularityReason object (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ApiResponse
     */
    public function createIrregularityReason($body)
    {
        list($response) = $this->createIrregularityReasonWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createIrregularityReasonWithHttpInfo
     *
     * Create a irregularity reason
     *
     * @param \BumbalClient\Model\IrregularityReasonModel $body IrregularityReason object (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createIrregularityReasonWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createIrregularityReason');
        }
        // parse inputs
        $resourcePath = "/irregularity-reason/set";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ApiResponse',
                '/irregularity-reason/set'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteIrregularityReason
     *
     * Delete a irregularity reason
     *
     * @param int $irregularity_reason_id ID of the irregularity reason to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ApiResponse
     */
    public function deleteIrregularityReason($irregularity_reason_id)
    {
        list($response) = $this->deleteIrregularityReasonWithHttpInfo($irregularity_reason_id);
        return $response;
    }

    /**
     * Operation deleteIrregularityReasonWithHttpInfo
     *
     * Delete a irregularity reason
     *
     * @param int $irregularity_reason_id ID of the irregularity reason to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteIrregularityReasonWithHttpInfo($irregularity_reason_id)
    {
        // verify the required parameter 'irregularity_reason_id' is set
        if ($irregularity_reason_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $irregularity_reason_id when calling deleteIrregularityReason');
        }
        // parse inputs
        $resourcePath = "/irregularity-reason/{irregularityReasonId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($irregularity_reason_id !== null) {
            $resourcePath = str_replace(
                "{" . "irregularityReasonId" . "}",
                $this->apiClient->getSerializer()->toPathValue($irregularity_reason_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ApiResponse',
                '/irregularity-reason/{irregularityReasonId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveIrregularityReason
     *
     * Retrieve a irregularity reason
     *
     * @param int $irregularity_reason_id ID of irregularity reason to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\IrregularityReasonModel
     */
    public function retrieveIrregularityReason($irregularity_reason_id)
    {
        list($response) = $this->retrieveIrregularityReasonWithHttpInfo($irregularity_reason_id);
        return $response;
    }

    /**
     * Operation retrieveIrregularityReasonWithHttpInfo
     *
     * Retrieve a irregularity reason
     *
     * @param int $irregularity_reason_id ID of irregularity reason to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\IrregularityReasonModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveIrregularityReasonWithHttpInfo($irregularity_reason_id)
    {
        // verify the required parameter 'irregularity_reason_id' is set
        if ($irregularity_reason_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $irregularity_reason_id when calling retrieveIrregularityReason');
        }
        // parse inputs
        $resourcePath = "/irregularity-reason/{irregularityReasonId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($irregularity_reason_id !== null) {
            $resourcePath = str_replace(
                "{" . "irregularityReasonId" . "}",
                $this->apiClient->getSerializer()->toPathValue($irregularity_reason_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\IrregularityReasonModel',
                '/irregularity-reason/{irregularityReasonId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\IrregularityReasonModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\IrregularityReasonModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListIrregularityReason
     *
     * Retrieve list of irregularity categories
     *
     * @param \BumbalClient\Model\IrregularityReasonRetrieveListArguments $arguments Irregularity reason RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\IrregularityReasonListResponse
     */
    public function retrieveListIrregularityReason($arguments)
    {
        list($response) = $this->retrieveListIrregularityReasonWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListIrregularityReasonWithHttpInfo
     *
     * Retrieve list of irregularity categories
     *
     * @param \BumbalClient\Model\IrregularityReasonRetrieveListArguments $arguments Irregularity reason RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\IrregularityReasonListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListIrregularityReasonWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListIrregularityReason');
        }
        // parse inputs
        $resourcePath = "/irregularity-reason";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen((((($apiKey ?? '') ?? '') ?? '') ?? '') ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\IrregularityReasonListResponse',
                '/irregularity-reason'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\IrregularityReasonListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\IrregularityReasonListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
