<?php
/**
 * ReportApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Client Api
 *
 * Bumbal API documentation
 *
 * OpenAPI spec version: 2.0
 * Contact: support@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalClient\API;

use \BumbalClient\ApiClient;
use \BumbalClient\ApiException;
use \BumbalClient\Configuration;
use \BumbalClient\ObjectSerializer;

/**
 * ReportApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ReportApi
{
    /**
     * API Client
     *
     * @var \BumbalClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(?\BumbalClient\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalClient\ApiClient $apiClient set the API client
     *
     * @return ReportApi
     */
    public function setApiClient(\BumbalClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createDeliveryReport
     *
     * Set up the auto delivery of a report by a report ID
     *
     * @param \BumbalClient\Model\ReportDeliveryModel $body Report delivery object that needs to be created (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportModel
     */
    public function createDeliveryReport($body)
    {
        list($response) = $this->createDeliveryReportWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createDeliveryReportWithHttpInfo
     *
     * Set up the auto delivery of a report by a report ID
     *
     * @param \BumbalClient\Model\ReportDeliveryModel $body Report delivery object that needs to be created (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function createDeliveryReportWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createDeliveryReport');
        }
        // parse inputs
        $resourcePath = "/report-delivery/set";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportModel',
                '/report-delivery/set'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createDeliveryReportSchedule
     *
     * Set up the auto delivery of a report by a report ID
     *
     * @param \BumbalClient\Model\ReportDeliveryModel $body Report delivery object that needs to be created (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportModel
     */
    public function createDeliveryReportSchedule($body)
    {
        list($response) = $this->createDeliveryReportScheduleWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation createDeliveryReportScheduleWithHttpInfo
     *
     * Set up the auto delivery of a report by a report ID
     *
     * @param \BumbalClient\Model\ReportDeliveryModel $body Report delivery object that needs to be created (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function createDeliveryReportScheduleWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createDeliveryReportSchedule');
        }
        // parse inputs
        $resourcePath = "/report-delivery-schedule/set";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportModel',
                '/report-delivery-schedule/set'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteDeliveryReport
     *
     * Delete a report auto delivery
     *
     * @param int $report_delivery_id ID of report delivery to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ApiResponse
     */
    public function deleteDeliveryReport($report_delivery_id)
    {
        list($response) = $this->deleteDeliveryReportWithHttpInfo($report_delivery_id);
        return $response;
    }

    /**
     * Operation deleteDeliveryReportWithHttpInfo
     *
     * Delete a report auto delivery
     *
     * @param int $report_delivery_id ID of report delivery to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteDeliveryReportWithHttpInfo($report_delivery_id)
    {
        // verify the required parameter 'report_delivery_id' is set
        if ($report_delivery_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_delivery_id when calling deleteDeliveryReport');
        }
        // parse inputs
        $resourcePath = "/report-delivery/{reportDeliveryId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($report_delivery_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportDeliveryId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_delivery_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ApiResponse',
                '/report-delivery/{reportDeliveryId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteDeliveryReportSchedule
     *
     * Delete a report auto delivery schedule
     *
     * @param int $report_delivery_schedule_id ID of report delivery schedule to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ApiResponse
     */
    public function deleteDeliveryReportSchedule($report_delivery_schedule_id)
    {
        list($response) = $this->deleteDeliveryReportScheduleWithHttpInfo($report_delivery_schedule_id);
        return $response;
    }

    /**
     * Operation deleteDeliveryReportScheduleWithHttpInfo
     *
     * Delete a report auto delivery schedule
     *
     * @param int $report_delivery_schedule_id ID of report delivery schedule to delete (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ApiResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteDeliveryReportScheduleWithHttpInfo($report_delivery_schedule_id)
    {
        // verify the required parameter 'report_delivery_schedule_id' is set
        if ($report_delivery_schedule_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_delivery_schedule_id when calling deleteDeliveryReportSchedule');
        }
        // parse inputs
        $resourcePath = "/report-delivery-schedule/{reportDeliveryScheduleId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($report_delivery_schedule_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportDeliveryScheduleId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_delivery_schedule_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ApiResponse',
                '/report-delivery-schedule/{reportDeliveryScheduleId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ApiResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ApiResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation exportFileReport
     *
     * Export report by id
     *
     * @param \BumbalClient\Model\ReportExportArguments $arguments Export Report Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function exportFileReport($arguments)
    {
        list($response) = $this->exportFileReportWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation exportFileReportWithHttpInfo
     *
     * Export report by id
     *
     * @param \BumbalClient\Model\ReportExportArguments $arguments Export Report Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function exportFileReportWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling exportFileReport');
        }
        // parse inputs
        $resourcePath = "/report/export-file";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/report/export-file'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation exportReport
     *
     * Export report by id
     *
     * @param \BumbalClient\Model\ReportExportArguments $arguments Export Report Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportExportResponse
     */
    public function exportReport($arguments)
    {
        list($response) = $this->exportReportWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation exportReportWithHttpInfo
     *
     * Export report by id
     *
     * @param \BumbalClient\Model\ReportExportArguments $arguments Export Report Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportExportResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function exportReportWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling exportReport');
        }
        // parse inputs
        $resourcePath = "/report/export";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportExportResponse',
                '/report/export'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportExportResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportExportResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation mapReport
     *
     * Map report by ID
     *
     * @param int $report_id ID of report to get values from (required)
     * @param string $map_column Column of the report to get values from (required)
     * @param string $map_filter Name of filter of the report to pass values to (required)
     * @param int $mapped_report_id Id of report that is receiving the mapped values (required)
     * @param string $filters Filters to be used on when retrieving the values (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportMapResponse
     */
    public function mapReport($report_id, $map_column, $map_filter, $mapped_report_id, $filters)
    {
        list($response) = $this->mapReportWithHttpInfo($report_id, $map_column, $map_filter, $mapped_report_id, $filters);
        return $response;
    }

    /**
     * Operation mapReportWithHttpInfo
     *
     * Map report by ID
     *
     * @param int $report_id ID of report to get values from (required)
     * @param string $map_column Column of the report to get values from (required)
     * @param string $map_filter Name of filter of the report to pass values to (required)
     * @param int $mapped_report_id Id of report that is receiving the mapped values (required)
     * @param string $filters Filters to be used on when retrieving the values (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportMapResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function mapReportWithHttpInfo($report_id, $map_column, $map_filter, $mapped_report_id, $filters)
    {
        // verify the required parameter 'report_id' is set
        if ($report_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_id when calling mapReport');
        }
        // verify the required parameter 'map_column' is set
        if ($map_column === null) {
            throw new \InvalidArgumentException('Missing the required parameter $map_column when calling mapReport');
        }
        // verify the required parameter 'map_filter' is set
        if ($map_filter === null) {
            throw new \InvalidArgumentException('Missing the required parameter $map_filter when calling mapReport');
        }
        // verify the required parameter 'mapped_report_id' is set
        if ($mapped_report_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $mapped_report_id when calling mapReport');
        }
        // verify the required parameter 'filters' is set
        if ($filters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $filters when calling mapReport');
        }
        // parse inputs
        $resourcePath = "/report/map/{reportId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // query params
        if ($map_column !== null) {
            $queryParams['map_column'] = $this->apiClient->getSerializer()->toQueryValue($map_column);
        }
        // query params
        if ($map_filter !== null) {
            $queryParams['map_filter'] = $this->apiClient->getSerializer()->toQueryValue($map_filter);
        }
        // query params
        if ($mapped_report_id !== null) {
            $queryParams['mappedReportId'] = $this->apiClient->getSerializer()->toQueryValue($mapped_report_id);
        }
        // query params
        if ($filters !== null) {
            $queryParams['filters'] = $this->apiClient->getSerializer()->toQueryValue($filters);
        }
        // path params
        if ($report_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportMapResponse',
                '/report/map/{reportId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportMapResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportMapResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation queryReport
     *
     * Query the report data
     *
     * @param \BumbalClient\Model\ReportQueryArguments $arguments Query Report Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportQueryResponse
     */
    public function queryReport($arguments)
    {
        list($response) = $this->queryReportWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation queryReportWithHttpInfo
     *
     * Query the report data
     *
     * @param \BumbalClient\Model\ReportQueryArguments $arguments Query Report Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportQueryResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function queryReportWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling queryReport');
        }
        // parse inputs
        $resourcePath = "/report/query";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportQueryResponse',
                '/report/query'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportQueryResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportQueryResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation reportExport
     *
     * Get the data for exporting a report as the provided file type
     *
     * @param int $report_id ID of report to export (required)
     * @param string $export_type Type of the export (required)
     * @param string $return_history Whether to return the history of the report or the file (required)
     * @param string $filters Filters to be used on the report before exporting (optional)
     * @param int $parent_report_id ID of the parent report (optional)
     * @param string $parent_filters Filters to be used on the parent report before exporting (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function reportExport($report_id, $export_type, $return_history, $filters = null, $parent_report_id = null, $parent_filters = null)
    {
        list($response) = $this->reportExportWithHttpInfo($report_id, $export_type, $return_history, $filters, $parent_report_id, $parent_filters);
        return $response;
    }

    /**
     * Operation reportExportWithHttpInfo
     *
     * Get the data for exporting a report as the provided file type
     *
     * @param int $report_id ID of report to export (required)
     * @param string $export_type Type of the export (required)
     * @param string $return_history Whether to return the history of the report or the file (required)
     * @param string $filters Filters to be used on the report before exporting (optional)
     * @param int $parent_report_id ID of the parent report (optional)
     * @param string $parent_filters Filters to be used on the parent report before exporting (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function reportExportWithHttpInfo($report_id, $export_type, $return_history, $filters = null, $parent_report_id = null, $parent_filters = null)
    {
        // verify the required parameter 'report_id' is set
        if ($report_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_id when calling reportExport');
        }
        // verify the required parameter 'export_type' is set
        if ($export_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $export_type when calling reportExport');
        }
        // verify the required parameter 'return_history' is set
        if ($return_history === null) {
            throw new \InvalidArgumentException('Missing the required parameter $return_history when calling reportExport');
        }
        // parse inputs
        $resourcePath = "/report/export/{reportId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/pdf', 'application/csv', 'application/xlsx', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // query params
        if ($filters !== null) {
            $queryParams['filters'] = $this->apiClient->getSerializer()->toQueryValue($filters);
        }
        // query params
        if ($parent_report_id !== null) {
            $queryParams['parent_report_id'] = $this->apiClient->getSerializer()->toQueryValue($parent_report_id);
        }
        // query params
        if ($export_type !== null) {
            $queryParams['export_type'] = $this->apiClient->getSerializer()->toQueryValue($export_type);
        }
        // query params
        if ($return_history !== null) {
            $queryParams['return_history'] = $this->apiClient->getSerializer()->toQueryValue($return_history);
        }
        // query params
        if ($parent_filters !== null) {
            $queryParams['parent_filters'] = $this->apiClient->getSerializer()->toQueryValue($parent_filters);
        }
        // path params
        if ($report_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/report/export/{reportId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveDeliveryReport
     *
     * Retrieve a report auto delivery
     *
     * @param int $report_delivery_id ID of report delivery to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportDeliveryModel
     */
    public function retrieveDeliveryReport($report_delivery_id)
    {
        list($response) = $this->retrieveDeliveryReportWithHttpInfo($report_delivery_id);
        return $response;
    }

    /**
     * Operation retrieveDeliveryReportWithHttpInfo
     *
     * Retrieve a report auto delivery
     *
     * @param int $report_delivery_id ID of report delivery to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportDeliveryModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveDeliveryReportWithHttpInfo($report_delivery_id)
    {
        // verify the required parameter 'report_delivery_id' is set
        if ($report_delivery_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_delivery_id when calling retrieveDeliveryReport');
        }
        // parse inputs
        $resourcePath = "/report-delivery/{reportDeliveryId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($report_delivery_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportDeliveryId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_delivery_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportDeliveryModel',
                '/report-delivery/{reportDeliveryId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportDeliveryModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportDeliveryModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveDeliveryReportSchedule
     *
     * Retrieve a report auto delivery schedule
     *
     * @param int $report_delivery_schedule_id ID of report delivery schedule to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportDeliveryScheduleModel
     */
    public function retrieveDeliveryReportSchedule($report_delivery_schedule_id)
    {
        list($response) = $this->retrieveDeliveryReportScheduleWithHttpInfo($report_delivery_schedule_id);
        return $response;
    }

    /**
     * Operation retrieveDeliveryReportScheduleWithHttpInfo
     *
     * Retrieve a report auto delivery schedule
     *
     * @param int $report_delivery_schedule_id ID of report delivery schedule to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportDeliveryScheduleModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveDeliveryReportScheduleWithHttpInfo($report_delivery_schedule_id)
    {
        // verify the required parameter 'report_delivery_schedule_id' is set
        if ($report_delivery_schedule_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_delivery_schedule_id when calling retrieveDeliveryReportSchedule');
        }
        // parse inputs
        $resourcePath = "/report-delivery-schedule/{reportDeliveryScheduleId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($report_delivery_schedule_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportDeliveryScheduleId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_delivery_schedule_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportDeliveryScheduleModel',
                '/report-delivery-schedule/{reportDeliveryScheduleId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportDeliveryScheduleModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportDeliveryScheduleModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListDeliveryReport
     *
     * Retrieve a list of report auto deliveries
     *
     * @param \BumbalClient\Model\ReportDeliveryRetrieveListArguments $arguments Report delivery RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportDeliveryListResponse
     */
    public function retrieveListDeliveryReport($arguments)
    {
        list($response) = $this->retrieveListDeliveryReportWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListDeliveryReportWithHttpInfo
     *
     * Retrieve a list of report auto deliveries
     *
     * @param \BumbalClient\Model\ReportDeliveryRetrieveListArguments $arguments Report delivery RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportDeliveryListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListDeliveryReportWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListDeliveryReport');
        }
        // parse inputs
        $resourcePath = "/report-delivery";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportDeliveryListResponse',
                '/report-delivery'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportDeliveryListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportDeliveryListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListDeliveryReportSchedule
     *
     * Retrieve a list of report auto deliveries
     *
     * @param \BumbalClient\Model\ReportDeliveryRetrieveListArguments $arguments Report delivery RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportDeliveryListResponse
     */
    public function retrieveListDeliveryReportSchedule($arguments)
    {
        list($response) = $this->retrieveListDeliveryReportScheduleWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListDeliveryReportScheduleWithHttpInfo
     *
     * Retrieve a list of report auto deliveries
     *
     * @param \BumbalClient\Model\ReportDeliveryRetrieveListArguments $arguments Report delivery RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportDeliveryListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListDeliveryReportScheduleWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListDeliveryReportSchedule');
        }
        // parse inputs
        $resourcePath = "/report-delivery-schedule";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportDeliveryListResponse',
                '/report-delivery-schedule'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportDeliveryListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportDeliveryListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListReport
     *
     * Retrieve List of reports
     *
     * @param \BumbalClient\Model\ReportRetrieveListArguments $arguments Report RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportListResponse
     */
    public function retrieveListReport($arguments)
    {
        list($response) = $this->retrieveListReportWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListReportWithHttpInfo
     *
     * Retrieve List of reports
     *
     * @param \BumbalClient\Model\ReportRetrieveListArguments $arguments Report RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListReportWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListReport');
        }
        // parse inputs
        $resourcePath = "/report";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportListResponse',
                '/report'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveListReportParam
     *
     * Retrieve List of values belonging to the parameter
     *
     * @param int $report_id ID of the report (required)
     * @param string $param_id ID of the parameter (required)
     * @param string $search_text Text to search in the parameter values (optional)
     * @param string $sorting_column Column to sort the parameter values by (optional)
     * @param string $sorting_direction Direction to sort the parameter values (asc or desc) (optional)
     * @param int $offset Offset for pagination (optional)
     * @param int $limit Limit for pagination (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportParamListResponse
     */
    public function retrieveListReportParam($report_id, $param_id, $search_text = null, $sorting_column = null, $sorting_direction = null, $offset = null, $limit = null)
    {
        list($response) = $this->retrieveListReportParamWithHttpInfo($report_id, $param_id, $search_text, $sorting_column, $sorting_direction, $offset, $limit);
        return $response;
    }

    /**
     * Operation retrieveListReportParamWithHttpInfo
     *
     * Retrieve List of values belonging to the parameter
     *
     * @param int $report_id ID of the report (required)
     * @param string $param_id ID of the parameter (required)
     * @param string $search_text Text to search in the parameter values (optional)
     * @param string $sorting_column Column to sort the parameter values by (optional)
     * @param string $sorting_direction Direction to sort the parameter values (asc or desc) (optional)
     * @param int $offset Offset for pagination (optional)
     * @param int $limit Limit for pagination (optional)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportParamListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListReportParamWithHttpInfo($report_id, $param_id, $search_text = null, $sorting_column = null, $sorting_direction = null, $offset = null, $limit = null)
    {
        // verify the required parameter 'report_id' is set
        if ($report_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_id when calling retrieveListReportParam');
        }
        // verify the required parameter 'param_id' is set
        if ($param_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $param_id when calling retrieveListReportParam');
        }
        // parse inputs
        $resourcePath = "/report/{reportId}/param/{paramId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // query params
        if ($search_text !== null) {
            $queryParams['search_text'] = $this->apiClient->getSerializer()->toQueryValue($search_text);
        }
        // query params
        if ($sorting_column !== null) {
            $queryParams['sorting_column'] = $this->apiClient->getSerializer()->toQueryValue($sorting_column);
        }
        // query params
        if ($sorting_direction !== null) {
            $queryParams['sorting_direction'] = $this->apiClient->getSerializer()->toQueryValue($sorting_direction);
        }
        // query params
        if ($offset !== null) {
            $queryParams['offset'] = $this->apiClient->getSerializer()->toQueryValue($offset);
        }
        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // path params
        if ($report_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_id),
                $resourcePath
            );
        }
        // path params
        if ($param_id !== null) {
            $resourcePath = str_replace(
                "{" . "paramId" . "}",
                $this->apiClient->getSerializer()->toPathValue($param_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportParamListResponse',
                '/report/{reportId}/param/{paramId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportParamListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportParamListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveReport
     *
     * Find report by ID
     *
     * @param int $report_id ID of report to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportModel
     */
    public function retrieveReport($report_id)
    {
        list($response) = $this->retrieveReportWithHttpInfo($report_id);
        return $response;
    }

    /**
     * Operation retrieveReportWithHttpInfo
     *
     * Find report by ID
     *
     * @param int $report_id ID of report to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveReportWithHttpInfo($report_id)
    {
        // verify the required parameter 'report_id' is set
        if ($report_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_id when calling retrieveReport');
        }
        // parse inputs
        $resourcePath = "/report/{reportId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($report_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportModel',
                '/report/{reportId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveReportHistory
     *
     * Find all the stored reports for a given report
     *
     * @param \BumbalClient\Model\ReportHistoryRetrieveListArguments $arguments Report History RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\ReportHistoryModel
     */
    public function retrieveReportHistory($arguments)
    {
        list($response) = $this->retrieveReportHistoryWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveReportHistoryWithHttpInfo
     *
     * Find all the stored reports for a given report
     *
     * @param \BumbalClient\Model\ReportHistoryRetrieveListArguments $arguments Report History RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\ReportHistoryModel, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveReportHistoryWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveReportHistory');
        }
        // parse inputs
        $resourcePath = "/report/history";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/pdf', 'application/csv', 'application/xlsx', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\ReportHistoryModel',
                '/report/history'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\ReportHistoryModel', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\ReportHistoryModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveReportHistoryFile
     *
     * Retrieve a report file
     *
     * @param int $report_id ID of report to return the history of (required)
     * @param string $export_type Type of the export (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \SplFileObject
     */
    public function retrieveReportHistoryFile($report_id, $export_type)
    {
        list($response) = $this->retrieveReportHistoryFileWithHttpInfo($report_id, $export_type);
        return $response;
    }

    /**
     * Operation retrieveReportHistoryFileWithHttpInfo
     *
     * Retrieve a report file
     *
     * @param int $report_id ID of report to return the history of (required)
     * @param string $export_type Type of the export (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \SplFileObject, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveReportHistoryFileWithHttpInfo($report_id, $export_type)
    {
        // verify the required parameter 'report_id' is set
        if ($report_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $report_id when calling retrieveReportHistoryFile');
        }
        // verify the required parameter 'export_type' is set
        if ($export_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $export_type when calling retrieveReportHistoryFile');
        }
        // parse inputs
        $resourcePath = "/report/history-file/{reportId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/pdf', 'application/csv', 'application/xlsx', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // query params
        if ($export_type !== null) {
            $queryParams['export_type'] = $this->apiClient->getSerializer()->toQueryValue($export_type);
        }
        // path params
        if ($report_id !== null) {
            $resourcePath = str_replace(
                "{" . "reportId" . "}",
                $this->apiClient->getSerializer()->toPathValue($report_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\SplFileObject',
                '/report/history-file/{reportId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\SplFileObject', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\SplFileObject', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
