<?php
/**
 * RoutecapacitystatisticApi
 * PHP version 5
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Bumbal Client Api
 *
 * Bumbal API documentation
 *
 * OpenAPI spec version: 2.0
 * Contact: support@bumbal.eu
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace BumbalClient\API;

use \BumbalClient\ApiClient;
use \BumbalClient\ApiException;
use \BumbalClient\Configuration;
use \BumbalClient\ObjectSerializer;

/**
 * RoutecapacitystatisticApi Class Doc Comment
 *
 * @category Class
 * @package  BumbalClient
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class RoutecapacitystatisticApi
{
    /**
     * API Client
     *
     * @var \BumbalClient\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \BumbalClient\ApiClient|null $apiClient The api client to use
     */
    public function __construct(?\BumbalClient\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \BumbalClient\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \BumbalClient\ApiClient $apiClient set the API client
     *
     * @return RoutecapacitystatisticApi
     */
    public function setApiClient(\BumbalClient\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation retrieveListRouteCapacityStatistic
     *
     * Retrieve List of RouteCapacityStatistics
     *
     * @param \BumbalClient\Model\RouteCapacityStatisticRetrieveListArguments $arguments RouteCapacityStatistic RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\RouteCapacityStatisticListResponse
     */
    public function retrieveListRouteCapacityStatistic($arguments)
    {
        list($response) = $this->retrieveListRouteCapacityStatisticWithHttpInfo($arguments);
        return $response;
    }

    /**
     * Operation retrieveListRouteCapacityStatisticWithHttpInfo
     *
     * Retrieve List of RouteCapacityStatistics
     *
     * @param \BumbalClient\Model\RouteCapacityStatisticRetrieveListArguments $arguments RouteCapacityStatistic RetrieveList Arguments (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\RouteCapacityStatisticListResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveListRouteCapacityStatisticWithHttpInfo($arguments)
    {
        // verify the required parameter 'arguments' is set
        if ($arguments === null) {
            throw new \InvalidArgumentException('Missing the required parameter $arguments when calling retrieveListRouteCapacityStatistic');
        }
        // parse inputs
        $resourcePath = "/route-capacity-statistic";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($arguments)) {
            $_tempBody = $arguments;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\RouteCapacityStatisticListResponse',
                '/route-capacity-statistic'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\RouteCapacityStatisticListResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\RouteCapacityStatisticListResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation retrieveRouteCapacityStatistic
     *
     * Find RouteCapacityStatistic by ID
     *
     * @param int $route_capacity_statistic_id ID of RouteCapacityStatistic to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return \BumbalClient\Model\RouteCapacityStatistic
     */
    public function retrieveRouteCapacityStatistic($route_capacity_statistic_id)
    {
        list($response) = $this->retrieveRouteCapacityStatisticWithHttpInfo($route_capacity_statistic_id);
        return $response;
    }

    /**
     * Operation retrieveRouteCapacityStatisticWithHttpInfo
     *
     * Find RouteCapacityStatistic by ID
     *
     * @param int $route_capacity_statistic_id ID of RouteCapacityStatistic to return (required)
     * @throws \BumbalClient\ApiException on non-2xx response
     * @return array of \BumbalClient\Model\RouteCapacityStatistic, HTTP status code, HTTP response headers (array of strings)
     */
    public function retrieveRouteCapacityStatisticWithHttpInfo($route_capacity_statistic_id)
    {
        // verify the required parameter 'route_capacity_statistic_id' is set
        if ($route_capacity_statistic_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $route_capacity_statistic_id when calling retrieveRouteCapacityStatistic');
        }
        // parse inputs
        $resourcePath = "/route-capacity-statistic/{routeCapacityStatisticId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($route_capacity_statistic_id !== null) {
            $resourcePath = str_replace(
                "{" . "routeCapacityStatisticId" . "}",
                $this->apiClient->getSerializer()->toPathValue($route_capacity_statistic_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('ApiKey');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['ApiKey'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('Authorization');
        if (strlen($apiKey ?? '') !== 0) {
            $headerParams['Authorization'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\BumbalClient\Model\RouteCapacityStatistic',
                '/route-capacity-statistic/{routeCapacityStatisticId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\BumbalClient\Model\RouteCapacityStatistic', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\BumbalClient\Model\RouteCapacityStatistic', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
